version: "3.9"

services:
  ollama:
    environment:
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_GPU=1
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    # For old Docker Engine you might need:
    # runtime: nvidia

